*,
::before,
::after {
    box-sizing: border-box;
}

.item {
    border: 1px dashed orange;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    font-family: system-ui, sans-serif;
}
